.site-footer {
	background: $grey;
	font-size: 0.8em;
	color: mix(white, $grey, 60%);
	padding: 2em 0;
	
	a {
		color: darken($green, 4%);
	}
	
}

.site-info {
	display: flex;
	justify-content: space-between;
	
	div:last-child {
		text-align: right;
	}
}

.soc {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		display: inline-block;
	}
	a {
		display: block;
		width: 2.7em;
		height: 2.7em;
		border-radius: 2.7em;
		border: 2px solid rgba(black,0.2);
		
		&:hover {
			border-color: rgba(white,0.4);
		}
	}
	
	svg {
		fill: white;
	}
}

.li {
	background-color: #0077b5;
	
	svg {
			transform: scale(0.6);
	}
}
.fb {
	background-color: #3b5998;
}

@media (max-width: 480px) {
	
}