.site-header {
	border-top: 50px solid $green;
}
.site-branding {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 3em;
}
	.site-logo {
		align-self: flex-end;
		order: 1;
		
		a {
			display: block;
		}
	}
		.logo {
			max-width: 100%;
		}
		
		.site-title {
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: 0ex;
			margin: 0;
		}
		
	.site-description {
		order: 2;
		background-color: $blue;
		margin-left: 1em;
		padding: 2.2em 1.5em 2em;
		color: white;
		text-transform: uppercase;
		text-align: center;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		
		h2 {
			font-size: 1.6rem;
			color: white;
		}
		
		.fancy-font {
			font-size: 4rem;
			line-height: 0.5;
		}
	}

@media (max-width: 825px) {
	.site-description {
		padding: 1em 1em 1.4em;
		
		h2 {
			font-size: 1em;
		}
		.fancy-font {
			font-size: 2.8em;
		}
	}
}

@media (max-width: 670px) {
	.site-branding {
		display: block;
	}
	.site-description {
		margin-left: 0;
	}
	.site-logo {
		text-align: center;
		margin-top: 2em;
	}
}