.slider {
	margin-bottom: 2em;
	
	&:not(.flickity-enabled) {
		overflow: hidden;
	}
}
	
.full-img {
	width: 100%;
	height: auto;
	border-radius: $border-radius;
}

.main-frame {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-bottom: 2em;
}

.content {
	width: calc(100% - 320px - 3%);
	margin-right: 3%;
}

.book-description {
	display: flex;
	justify-content: space-around;
}
.cover {
	min-width: 40%;
	padding-bottom: 57%;
	margin-right: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.bullets {
	list-style: none;
	display: block;
	margin: 1.5em 0;
	align-self: center;

	li {
		padding-left: 1.9em;
		margin-left: -1.9em;
		position: relative;
		
		&:before {
			content: '';
			width: 1.5em;
			position: absolute;
			top: 5px; left: 0; bottom: 0;
			display: inline-block;
			background: url(img/arrow-icon-bullet.png);
			background-repeat: no-repeat;
			background-size: contain;
		}
		
		+ li {
			margin-top: 1em;
		}
	}
}

.wpcf7 {
	width: 320px;
	position: sticky;
	top: 5em;
	margin: 5em 0;
	align-self: flex-start;
	color: white;
	
	form {
		background-color: $green;
		display: block;
		margin: auto;
		max-width: 300px;
		padding: 1.5em 2em 2em;
		border-radius: $border-radius;
	}
	
	p {
		margin: 0;
		font-style: italic;
		font-size: 0.9em;
		
		+ p {
			margin-top: 0.5em;
		}
	}
	
	h2 {
		font-size: 1.2em;
		color: white;
		text-align: center;
		margin: 0 0 0.7em;
		text-shadow: 1px 1px rgba(black, 0.25);
		text-transform: uppercase;
	}
	
	input {
		color: $grey;
		font-size: 1rem;
		font-style: normal;
		padding: 0.3em 0.75em;
		border: 4px solid rgba($green, 0.4);
		box-sizing: border-box;
		border-radius: $border-radius;
		width: 100%;
		transition: box-shadow 0.2s;
	
		&:focus {
			box-shadow: 0 1px 1px rgba(black, 0.075) inset, 0 0 8px rgba($blue, 0.6);
			outline: 0 none;
		}
	}
	
	input[type='submit'] {
		color: white;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 1.2em;
		background-color: $blue;
		margin-top: 0.7em;
		padding: 0.6em 1em;
		position: relative;
		appearance: none;
		border: 4px solid rgba(white, 0.2);
		box-shadow: 0 1px 1px rgba($blue, 0.075) inset, 0 0 8px rgba($blue, 0.6);
		transition: background 0.3s;
		
		&:hover {
			background-color: lighten($blue, 20%);
		}

		&:focus {
			outline: 0 none;
			background-color: lighten($blue, 20%);
		}
	}
}

input[type='submit'].loading {
	background-color: lighten($blue, 20%);
	border-color: rgba(black, 0.15);
	background-image: linear-gradient(-45deg, rgba(black, 0.15) 25%, transparent 25%, transparent 50%, rgba(black, 0.15) 50%, rgba(black, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	animation: move-bg 0.75s infinite linear;
}
input[type='submit'].error {
	background-color: $error;
	border-color: rgba(black, 0.15);
}
input[type='submit'].success {
	background-color: $green;
	border-color: rgba(black, 0.15);
}

@keyframes move-bg {
  0%	 {background-position: 0 0}
  100% {background-position: 40px 0}
}

.screen-reader-response {
	display: none;
}
.wpcf7-not-valid-tip {
	color: $error;
	font-size: 0.8em;
	padding-left: 1.1em;
}
.ajax-loader {
	display: none;
}
.wpcf7-response-output {
	display: none !important;
}

@media (min-width: 1100px) {
	.slider {
		height: 396px;
	}	
}

@media (max-width: 840px) and (min-width: 701px) {
	.book-description {
		display: block;
	}
}

@media (max-width: 768px) {
	.slider {
		margin-bottom: 3em;
	}
}

@media (max-width: 700px) {
	.main-frame {
		flex-wrap: wrap;
	}
	.content {
		width: 100%;
		margin: 0;
		order: 2;
	}
	.wpcf7 {
		order: 1;
		position: static;
		margin: 2em auto;
	}
	
	.cover {
		min-width: 30%;
		align-self: flex-start;
		position: sticky;
		top: 0em;
	}
}

@media (max-width: 500px) {
	.book-description {
		display: block;
	}
	.cover {
		top: 1em;
		padding-bottom: 100%;
		margin-right: 0;
	}
	.bullets {
		padding-top: 1em;
		background-color: rgba(255,255,255,0.8);
		backdrop-filter: blur(4px);
	}
}

@media (max-width: 400px) {
	.book-description {
		display: block;
	}
	.cover {
		margin-right: 0;
		position: static;
	}
}

@media (max-width: 340px) {
	.wpcf7 h2 {
		font-size: 0.97em;
	}
}

@media (max-height: 500px) {
	.wpcf7 {
		top: 1em;
	}
}